* {
    font-family: monospace;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fc1e8a;
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(325deg, #03001e 0%, #7303c0 30%, #ec38bc 70%, #fdeff9 100%);
    padding: 40px 60px;
}

h2 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset {
    visibility: hidden;
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus {
    color: #ec38bc;
    background-color: #262809;
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
    align-items: center;
    justify-content: center;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 3rem;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #404040;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
}

.settings {
    display: flex;
}

.settings h2 {
    font-size: 1.8rem;
    margin: 20px 5px;
}

.settings label {
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 0px;
}

.start-game {
    position: absolute;
    z-index: 2;
    width: 200px;
    height: 90px;
    border: 0px solid;
    border-radius: 50%;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    color: #000;
    background-color: #fff;
}

.start-game:focus {
    color: #ec38bc;
    background-color: #262809;
}

@media only screen and (max-width: 768px) {
    body {
        background: linear-gradient(325deg, #03001e 0%, #7303c0 30%, #ec38bc 70%, #fdeff9 100%);
    }

    .container {
        background: none;
        height: 100vh;
        width: 100vw;
    }

    .container>h2 {
        margin-top: 0px;
        letter-spacing: 1.5px;
        width: 100vw;
        padding-left: 20px;
    }

    .settings {
        width: 100vw;
    }

    .settings h2 {
        letter-spacing: 0px;
    }
    
    .item{
        height: 90px;
        width: 90px;
    }

    .difficulty label {
    }
}